@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nunito", sans-serif;
}
